<br />
<mat-card class="card">
  <mat-card-title class="title">Linux</mat-card-title>
  <mat-card-subtitle>1991</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Es un sistema operativo libre tipo Unix POSIX; multiplataforma,
      multiusuario y multitarea. El sistema es la combinación de varios
      proyectos, entre los cuales destacan GNU (encabezado por Richard Stallman
      y la Free Software Foundation) y el núcleo Linux (encabezado por Linus
      Torvalds). Su desarrollo es uno de los ejemplos más prominentes de
      software libre: todo su código fuente puede ser utilizado, modificado y
      redistribuido libremente por cualquiera, bajo los términos de la GPL
      (Licencia Pública General de GNU) y otra serie de licencias libres. A
      pesar de que «Linux» denomina en la jerga cotidiana al sistema operativo,​
      este es en realidad solo el kernel (núcleo) del sistema. La idea de hacer
      un sistema completo se remonta a mediados de la década de 1980 con el
      proyecto GNU, así como una gran cantidad de los componentes que se usan
      hoy en día (además del núcleo), que van desde los compiladores de GNU
      hasta entornos de escritorio
      <br />
      <br />
      Algunas de las empresas que colaboran en la difusión de este sistema
      operativo ya sea trabajando en el núcleo Linux, proporcionando soluciones
      de software o preinstalando el sistema operativo, son: Intel , Google,
      IBM, AMD, Sun Microsystems, Dell, Lenovo, Asus, Hewlett-Packard (HP),
      Silicon Graphics International (SGI), Renesas Technology,​ Fujitsu,​
      Analog Devices,​ Freescale,​ VIA Technologies, Oracle,​ Novell y RedHat,​
      entre otras.
      <br />
      <img src="/assets/linux-example.png" alt="" />
      <br />
      <br />
      <h2>Características</h2>
      Linux es un sistema operativo con herramientas de multiprocesamiento y
      multitarea, permitiendo además la modalidad multiusuario. Destaca
      especialmente por su elevada capacidad de procesamiento, ductilidad y
      versatilidad en las funciones e interesantes condiciones de seguridad,
      ampliamente superiores a las que presentan otros sistemas operativos.
      Linux puede aplicarse en todo tipo de dispositivos informáticos.
      <br />
      <br />
      <li>
        <strong>Permite acceder a software de libre distribución</strong>Su
        condición de sistema operativo de código abierto hace posible aprovechar
        los permanentes avances en software, con programas desarrollados por
        informáticos en todo el mundo que amplían en forma constante su rango de
        acción.
      </li>
      <br />
      <li>
        <strong>Está centrado en el aprovechamiento de las redes </strong>
        Orientado al trabajo en red, Linux es una inmensa alianza de usuarios
        distribuidos en todo el planeta, que aportan mejoras y soluciones en
        forma abierta mediante Internet. Gracias a esta condición, Linux se
        desarrolla más rápidamente y en forma más eficiente. Además, el sistema
        operativo posee un fuerte soporte para el área de comunicaciones y
        redes.
      </li>
      <br />
      <li>
        <strong>Es fácilmente adaptable </strong>
        Linux se adapta a cualquier tipo de entorno y hardware de dispositivos
        como computadoras, portátiles, computadoras de bolsillo, teléfonos
        móviles, videoconsolas, etc, desde cualquier lugar del mundo.
      </li>
      <br />
      <li>
        <strong>Es seguro</strong> La seguridad es una de las características
        más populares de Linux. Debido a que el sistema es libre y transparente
        nadie se interesa en crear virus.
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
