<br />
<mat-card class="card">
  <mat-card-title class="title">Nikola Tesla</mat-card-title>
  <mat-card-subtitle>1856/07/10 - 1943/01/07</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Fue un inventor, ingeniero mecánico e ingeniero eléctrico de origen
      serbocroata.​​ Se le conoce sobre todo por sus numerosas invenciones en el
      campo del electromagnetismo, desarrolladas a finales del siglo XIX y
      principios del siglo XX. Hijo de Milutin Tesla, un sacerdote ortodoxo; su
      madre, de Djuka Mandic, cuyo padre también fue sacerdote ortodoxo, tenía
      un talento especial para la fabricación de herramientas para el hogar y
      gran capacidad para memorizar poemas épicos. Sus progenitores eran del
      oeste de Serbia, cerca de Montenegro.
      <br />
      <br />
      Sus invenciones y patentes se sucedieron con cierta rapidez. En 1887, y
      como consecuencia del descubrimiento llevado a cabo por John Hopkinson en
      1880, según el cual tres corrientes alternas y desfasadas entre sí pueden
      ser trasladadas de manera más sencilla que una corriente alterna normal,
      Tesla inventó el motor de inducción de corriente trifásica. En ese motor
      las tres fases actúan sobre el inducido de forma que se logra que éste
      gire al generarse un campo magnético rotatorio. No obstante, el rotor se
      movía con un cierto retraso respecto a la frecuencia de la
      corrienteículas; su desarrollo de una ley de convección térmica

      <br />
      <img src="/assets/BioTesla.png" alt="" />
      <br />
      <br />
      <h2>Inventos</h2>
      Tesla amaba la ciencia pero miraba con cierto desdén los negocios. Esto
      provocó que muchos de sus inventos no fuesen puestos bajo protección de
      patentes o que otros se los robasen sin mucha consideración.
      <br />
      <br />
      <li>
        <strong> La radio: </strong>El inventor de la radio es un punto de
        discusión. En 1895, Tesla se preparaba para transmitir una señal de
        radio a una distancia de 50 millas, pero antes de que pudiera hacerlo,
        su laboratorio se quemó, retrasando la prueba. Mientras tanto, en
        Inglaterra, un italiano llamado Guglielmo Marconi trabajaba en
        telegrafía inalámbrica, y en 1896 se le concedió una patente para su
        dispositivo. Su sistema era muy diferente al que Tesla construyó, usando
        sólo dos circuitos pero incapaz de transmitir a largas distancias. La
        invención de Tesla utilizaría múltiples circuitos, lo que la haría mucho
        más fuerte.
      </li>
      <br />
      <li>
        <strong>Control remoto: </strong> La patente no. 613809 fue el primer
        aparato de control remoto útil en 1898, basado en la idea del radio: las
        señales entre el transmisor y el receptor son controladas mediante
        botones, a pesar de que las enormes baterías que necesitaba lo hubieran
        hecho poco práctico en su momento. Sin embargo, la tecnología militar
        aprovechó el control remoto de radio para manejar tanques alemanes en la
        Segunda Guerra Mundial.
      </li>
      <br />
      <li>
        <strong>Corriente alterna</strong> Es esencial notar que él no inventó
        ni siquiera descubrió el CA, pero sus inventos hicieron que la CA fuera
        aplicable para un uso generalizado, ayudando a electrificar el mundo. La
        historia de cómo la corriente alterna de Tesla llegó a ser el sistema de
        energía dominante es imposible de contar sin hablar de Thomas Edison. A
        principios de su carrera Tesla trabajó para Edison, cuya empresa había
        desarrollado la corriente continua (CC).
      </li>
      <br />
      <li>
        <strong>Rayos X: </strong> El electromagnetismo y la radiación iónica
        están presentes en investigaciones ópticas de Tesla. Para él, todo lo
        que necesitamos para entender el universo está a nuestro alrededor todo
        el tiempo: la mente sirve para desarrollar aparatos que aumenten nuestra
        percepción de todo eso, y en el caso de los rayos X, que permitan ver
        aquello que permanece oculto dentro de nosotros mismos.
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
