<br />
<mat-card class="card">
  <mat-card-title class="title">Relax</mat-card-title>
  <br />
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-card-content>
      <div>
        <mat-card class="card1">
          <img
            mat-card-image
            class="example"
            src="/assets/Frase1.jpeg"
            alt="Photo of a Plus"
          />
        </mat-card>
        <mat-card class="card1">
          <img
            mat-card-image
            class="example"
            src="/assets/Frase2.jpeg"
            alt="Photo of a Plus"
          />
        </mat-card>
        <mat-card class="card1">
          <img
            mat-card-image
            class="example"
            src="/assets/Frase3.jpeg"
            alt="Photo of a Plus"
          />
        </mat-card>
        <mat-card class="card1">
          <img
            mat-card-image
            class="example"
            src="/assets/Frase4.jpeg"
            alt="Photo of a Plus"
          />
        </mat-card>

        <mat-card class="card1">
          <img
            mat-card-image
            class="example"
            src="/assets/Frase5.jpeg"
            alt="Photo of a Plus"
          />
        </mat-card>

        <mat-card class="card1">
          <img
            mat-card-image
            class="example"
            src="/assets/Frase6.jpeg"
            alt="Photo of a Plus"
          />
        </mat-card>

        <mat-card class="card1">
          <img
            mat-card-image
            class="example"
            src="/assets/Frase7.jpeg"
            alt="Photo of a Plus"
          />
        </mat-card>
      </div>
    </mat-card-content>
  </mat-grid-list>
</mat-card>
