<br />
<mat-card class="card">
  <mat-card-title class="title">Historia</mat-card-title>
  <br />
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-card-content>
      <div>
        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-plus"></div>
            <mat-card-title>Galileo Galilei</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <br />
            <p>
              Galileo Galilei fue un físico y astrónomo italiano del siglo XVI y
              XVII (nació el 15 de febrero de 1564 y murió el 1642 a los 77
              años) conocido principalmente por: – Defender, a través del método
              científico y a riesgo de su propia vida, la teoría heliocéntrica
              de Nicolás Copérnico.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['galileo']">
              Ver mas
            </a></mat-card-actions
          >
        </mat-card>

        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-less"></div>
            <mat-card-title>Isaac Newton</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <br />
            <p>
              Isaac Newton fue un físico y matemático inglés de los siglos XVII
              y XVIII (nació el 4 de enero de 1643 y murió el 31 de marzo de
              1727 a los 84 años) conocido principalmente por: – Establecer las
              bases de la mecánica clásica a través de sus tres leyes del
              movimiento y su ley de la gravitación universal.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['isaac']">
              Ver mas
            </a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-per"></div>
            <mat-card-title>Nikola Tesla </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <br />
            <p>
              Fue un ingeniero Croata nacido en Smija, en el Imperio Austriaco
              en julio de 1856. Inventor en el campo del electromagnetismo. Sus
              estudios e investigaciones hoy en día han sido la base de los
              sistemas para el uso de corriente eléctrica alterna.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['tesla']">
              Ver mas
            </a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-divide"></div>
            <mat-card-title>Aristóteles</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <br />
            <p>
              Aristóteles ​​​ fue un filósofo, polímata y científico nacido en
              la ciudad de Estagira, al norte de Antigua Grecia. Es considerado
              junto a Platón, el padre de la filosofía occidental. Sus ideas han
              ejercido una enorme influencia sobre la historia intelectual de
              Occidente por más de dos milenios.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['aristoteles']">
              Ver mas
            </a></mat-card-actions
          >
        </mat-card>
      </div>
    </mat-card-content>
  </mat-grid-list>
</mat-card>
