<br />
<mat-card class="card">
  <mat-card-title class="title">Galileo Galilei</mat-card-title>
  <mat-card-subtitle>1564/02/15 - 1642/01/08</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Galileo Galilei (1564-1642), físico y astrónomo italiano que, junto con el
      astrónomo alemán Johannes Kepler, comenzó la revolución científica que
      culminó con la obra del físico inglés Isaac Newton. Su nombre completo era
      Galileo Galilei, y su principal contribución a la astronomía fue el uso
      del telescopio para la observación y descubrimiento de las manchas
      solares, valles y montañas lunares, los cuatro satélites mayores de
      Júpiter y las fases de Venus. En el campo de la física descubrió las leyes
      que rigen la caída de los cuerpos y el movimiento de los proyectiles. En
      la historia de la cultura, Galileo se ha convertido en el símbolo de la
      lucha contra la autoridad y de la libertad en la investigación.
      <br />
      <img src="/assets/BioGalileo.jpg" alt="" />
      <br />
      <br />
      <h2>Inventos</h2>
      Galileo Galilei realizó grandes contribuciones a las ciencias del
      movimiento, la astronomía y a la fuerza de los materiales. También fue una
      pieza clave en desarrollo del método científico, introduciendo la
      experimentación como método reconocido para descubrir los hechos de la
      naturaleza.
      <br />
      <br />
      <li>
        <strong> El termómetro:</strong> Este dispositivo consistía en un
        recipiente lleno de bulbos de masa variable. Cada uno de estos bulbos
        tenía una marca de temperatura. Como la flotabilidad del agua cambia con
        la temperatura, algunos de estos se hunden mientras otros flotan. Así,
        el bulbo más bajo indicaba la temperatura.
      </li>
      <br />
      <li>
        <strong> La brújula:</strong> Este invento tuvo muchas aplicaciones. Se
        usó como una calculadora temprana. Los comerciantes la utilizaban para
        calcular los tipos de cambio monetario. Los que construían barcos podían
        emplear el dispositivo al probar diseños del casco en modelos a escala.
        Además, era usada por los soldados para determinar la carga de un cañón.
      </li>
      <br />
      <li>
        <strong>El telescopio:</strong> Originalmente, este mecanismo estaba
        pensado para usarse en aplicaciones militares. Pero cuando comenzó a
        observar el cielo nocturno con el telescopio, se dio cuenta del gran
        potencial del nuevo instrumento. De esta manera, Galileo se convirtió en
        el pionero de la astronomía telescópica. Para lograr esta ambiciosa
        empresa, utilizó diversos materiales como lentes de gafas alemanas,
        espejos de vidrio y cristal de roca.
      </li>
      <br />
      <li>
        <strong> El reloj de péndulo</strong>: Cuenta su ayudante, Vincenzo
        Vivani , que Galilei notó esta particularidad al observar una lámpara
        que se balanceaba de un lado a otro en la catedral de Pisa. En 1641, ya
        en el ocaso de su vida, ideó un esquema para usar un péndulo para
        regular un reloj mecánico. Pero esta idea, solo se pudo llevar a cabo de
        manera efectiva 15 años después de su muerte.
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
