<br />
<mat-card class="card">
  <mat-card-title class="title">Windows</mat-card-title>
  <mat-card-subtitle> 20 de noviembre de 1985</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Es un sistema operativo, es decir, un conjunto de programas que posibilita
      la administración de los recursos de una computadora. Este tipo de
      sistemas empieza a trabajar cuando se enciende el equipo para gestionar el
      hardware a partir desde los niveles más básicos. Es importante tener en
      cuenta que los sistemas operativos funcionan tanto en las computadoras
      como en otros dispositivos electrónicos que usan microprocesadores
      (teléfonos móviles, reproductores de DVD, etc.). En el caso de Windows, su
      versión estándar funciona con computadoras, aunque también existe una
      versión para teléfonos (Windows Mobile). Bill Gates junto a Paul Allen
      fueron los creadores del sistema operativo mas usuado en las computadoras
      hoy en día.
      <br />
      <br />
      La primera versión de Microsoft Windows, versión 1.0, presentada en
      diciembre de 1985, compitió con el sistema operativo de Apple. Carecía de
      un cierto grado de funcionalidad y logró muy poca popularidad. Windows 1.0
      no era un sistema operativo completo; más bien era una extensión gráfica
      de MS-DOS.
      <br />
      <img src="/assets/windows-example.png" alt="" />
      <br />
      <br />
      <h2>Características</h2>
      Windows es considerado como un sistema operativo desplegado por Microsoft,
      se basa principalmente para el uso en monitores personales o los populares
      PC, acompañado de un grupo de programas y un método de organización de
      registros propio. Windows se determinó especialmente por dominar una
      interfaz de ventanas denominadas como Windows
      <br />
      <br />
      <li>
        <strong>Escritorio</strong>Abarca la pantalla del monitor y cada versión
        presenta una plataforma que a nivel visual es agradable. Es la base
        desde la que se fundamenta Windows.
      </li>
      <br />
      <li>
        <strong>Ambiente Gráfico (GUI)</strong> Permite ejecutar programas
        (aplicaciones) de forma más fácil y cómoda para el usuario. Viene a
        sustituir al Sistema Operativo DOS; facilitando el uso y fácil manejo de
        una Computadora Persona
      </li>
      <br />
      <li>
        <strong> Propiedades de Pantalla (Escritorio) </strong>
        En la pestaña escritorio tenemos la opción de poner una fotografía de
        fondo en el escritorio con las opciones centrada, mosaico o expandida.
        En la pestaña temas podremos cambiar el tema principal de Windows o
        determinar uno nuevo.
      </li>
      <br />
      <li>
        <strong>Íconos</strong> Son una representación de tipo gráfico con la
        que se dan indicaciones respecto a las aplicaciones que ya se
        instalaron.
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
