<br />
<mat-card class="card">
  <mat-card-title class="title">Tecnología</mat-card-title>
  <br />
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-card-content>
      <div>
        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-plus"></div>
            <mat-card-title>Android </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <br />
            <p>
              Android es un sistema operativo móvil desarrollado por Google,
              basado en el Kernel de Linux y otros software de código abierto.
              Fue diseñado para dispositivos móviles con pantalla táctil
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['android']">
              Ver mas
            </a></mat-card-actions
          >
        </mat-card>

        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-less"></div>
            <mat-card-title>iOS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <br />
            <p>
              iOS es un sistema operativo móvil de la multinacional Apple Inc.
              Originalmente desarrollado para el iPhone, después se ha usado en
              dispositivos como el iPod touch y el iPad.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['ios']">
              Ver mas
            </a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-per"></div>
            <mat-card-title>Windows </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <br />
            <p>
              Microsoft Windows es el nombre de una familia de distribuciones de
              software para PC, smartphone, servidores y sistemas empotrados,
              desarrollados y vendidos por Microsoft y disponibles para
              múltiples arquitecturas
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['windows']">
              Ver mas
            </a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card1">
          <mat-card-header>
            <div mat-card-avatar class="header-image-divide"></div>
            <mat-card-title>Linux</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <br />
            <p>
              GNU/Linux ​ es un sistema operativo libre tipo Unix POSIX;
              multiplataforma, multiusuario y multitarea. El sistema es la
              combinación de varios proyectos, entre los cuales destacan GNU y
              el núcleo Linux.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['linux']">
              Ver mas
            </a></mat-card-actions
          >
        </mat-card>
      </div>
    </mat-card-content>
  </mat-grid-list>
</mat-card>
