<br />
<mat-card class="card">
  <mat-card-title class="title">Android</mat-card-title>
  <mat-card-subtitle>23 de septiembre de 2008</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Un sistema operativo que fue creado especialmente para teléfonos con
      pantalla táctil, los llamados de nueva generación o los inteligentes, las
      tablets comunes y las que funcionan con líneas telefónica; entrando en
      esta gama los relojes inteligentes, televisores y algunos aditamentos de
      los nuevos automóviles, esta empresa de nombre Android Inc, fue respaldada
      por Google, que en el año 2005 la misma google se apodera comprando por
      varios millones de dólares, previendo que esta nueva plataforma en la
      tecnología de avanzada de los estándares en los dispositivos móviles
      resultaba un buen negocio a futuro.
      <br />
      <br />
      Inicialmente fue desarrollado por Android Inc., empresa que Google
      respaldó económicamente y que adquirió en 2005. Android fue presentado en
      2007 junto con la fundación del Open Handset Alliance (un consorcio de
      compañías de hardware, software y telecomunicaciones) para avanzar en los
      estándares abiertos de los dispositivos móviles.
      <br />
      <img src="/assets/android-example.jpg" alt="" />
      <br />
      <br />
      <h2>Características</h2>
      Android a diferencia de otros sistemas operativos tienes muchas mas
      características que cada fabricante puede añadir o modificar a su gusto
      <br />
      <br />
      <li>
        <strong>Google Play</strong>Google Play es un catálogo de aplicaciones
        gratuitas o de pago en el que pueden ser descargadas e instaladas en
        dispositivos Android sin la necesidad de un PC.
      </li>
      <br />
      <li>
        <strong>Entorno de desarrollo</strong> Incluye un emulador de
        dispositivos, herramientas para depuración de memoria y análisis del
        rendimiento del software. Inicialmente el entorno de desarrollo
        integrado (IDE) utilizado era Eclipse con el plugin de Herramientas de
        Desarrollo de Android (ADT). Ahora se considera como entorno oficial
        Android Studio, descargable desde la página oficial de desarrolladores
        de Android.
      </li>
      <br />
      <li>
        <strong> Tethering</strong>
        Android soporta tethering, que permite al teléfono ser usado como un
        punto de acceso alámbrico o inalámbrico (todos los teléfonos desde la
        versión 2.2, no oficial en teléfonos con versión 1.6 o inferiores
        mediante aplicaciones disponibles en Google Play (por ejemplo PdaNet).
        Para permitir a un PC usar la conexión de datos del móvil Android se
        podría requerir la instalación de software adicional
      </li>
      <br />
      <li>
        <strong>Versiones </strong>A diferencia de otros sistemas operativos
        Android cuentan con muchas versiones que van desde la versión 1 hasta
        actualmente la versión 10 pasando por versiones como 4.4 KitKat que es
        una de las versiones mas utilizadas hoy en dia, ya que fue el estandar
        cuando los teléfonos android tuvo su apogeo
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
