<br />
<mat-card class="card">
  <mat-card-title class="title">IOS</mat-card-title>
  <mat-card-subtitle>9 de enero de 2007</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Todo comenzó cuando Steve Jobs, fundador de Apple Inc, mostró el iPhone al
      público en la convención Macworld 2007 en el Moscone Center en San
      Francisco iOS otro de los principales sistemas operativos móviles.
      <br />
      <br />
      iOS (en inglés “iPhone Operating System”) es un sistema operativo
      propietario de la empresa Apple Inc utilizado en dispositivos como
      smartphones, tablets y otros dispositivos como televisiones o
      reproductores mp4, entre ellos los famosos iPhone, iPad y iPod. Los
      elementos de control consisten de deslizadores, interruptores y botones.
      La respuesta a las órdenes del usuario es inmediata y provee una interfaz
      fluida. La interacción con el sistema operativo incluye gestos como
      deslices, toques, pellizcos, los cuales tienen definiciones diferentes
      dependiendo del contexto de la interfaz.
      <br />
      <br />
      En esencia es muy similar a Android, permitiéndonos como éste instalar
      aplicaciones o apps, para aumentar las funcionalidades de nuestros
      dispositivos, con lo que además de las funciones básicas de un teléfono
      tendríamos aplicaciones ofimáticas, de productividad, almacenamiento en la
      nube, educativas, juegos y muchas más. En el plano tecnológico no permite
      tecnologías como Java o Flash, lo que hace que componentes de algunas
      páginas no sean accesibles desde sus navegadores y otras aplicaciones. En
      cuanto a sus diferencias con Android, la principal es que su uso se
      restringe a dispositivos de fabricación propia, mientras que Android se
      puede instalar en infinidad de dispositivos. Por otro lado, el nivel de
      seguridad es mucho más alto en estos dispositivos, sobre todo en lo
      referente a virus o malware. Las apps pasan por un proceso de validación
      mucho más estricto y además el firmware del sistema es más robusto.
      <br />
      <img src="/assets/ios-example.jpg" alt="" />
      <br />
      <br />
      <h2>Características</h2>
      Este sistema operativo está orientado específicamente para su uso mediante
      dispositivos móviles con pantalla Táctil. iOS es una variante del Mac OS
      X, que es el sistema operativo para computadoras de la marca Apple y, al
      igual que él, está basado en Unix. Algunas de sus principales
      características
      <br />
      <br />
      <li>
        <strong>La pantalla se enciende solo con levantar el móvil: </strong
        >Apple ha decidido que es momento de que te ahorres el tiempo de pulsar
        el botón de desbloqueo o de inicio para ver las notificaciones que
        tienes pendientes.
      </li>
      <br />
      <li>
        La manipulación directa, es decir, al uso de gestos multitáctiles
        controlados por elementos como deslizadores, interruptores y botones.
      </li>
      <br />
      <li>
        El tiempo de respuesta inmediata a las órdenes del usuario.
      </li>
      <br />
      <li>
        Todo en sistema se encuentra en la partición “/root” y ocupa menos de
        500MB.
      </li>
      <br />
      <li>
        Dar soporte de acelerómetros internos y giroscopio que funcionan en
        respuesta ante un movimiento o un gesto para hacer que algunas
        aplicaciones respondan a sacudir el dispositivo
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
