<br />
<mat-card class="card">
  <mat-card-title class="title">Aristóteles</mat-card-title>
  <mat-card-subtitle>384 a. C - 322 a. C</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Aristóteles, nació en el año 384 a. C. en Estagira, lo que se conoce hoy
      como Stavros, Grecia. Es reconocido mundialmente al ser uno de los tres
      filósofos más importantes de la antigüedad y uno de los más influyentes de
      toda la historia. Su inquietud por la experimentación y las ciencias
      naturales surgió desde que era muy joven y probablemente Nicómaco su
      padre, tuvo gran influencia en dicho interés, pues ejercía la profesión de
      médico, del rey Amintas III de Macedonia. Aristóteles escribió cerca de
      200 tratados (de los cuales solo se han conservado 31) sobre una enorme
      variedad de temas, entre ellos: lógica, metafísica, filosofía de la
      ciencia, ética, filosofía política, estética, retórica, física, astronomía
      y biología. Aristóteles transformó muchas, si no todas, las áreas del
      conocimiento que abordó. Es reconocido como el padre fundador de la lógica
      y de la biología, pues si bien existen reflexiones y escritos previos
      sobre ambas materias, es en el trabajo de Aristóteles, donde se encuentran
      las primeras investigaciones sistemáticas al respecto
      <br />
      <br />
      Al fallecer Platón en el año 347 a.C., viajó a Assos, ciudad de Asia Menor
      en la que gobernaba su amigo Hermias, al que sirvió como asesor, casándose
      además con su sobrina e hija adoptiva, Pythias, con la que tuvo una hija.
      Se relacionó también con Hepylis, con la que tuvo otro hijo al que llamó
      Nicómaco y dedicó su Etica a Nicómaco.

      <br />
      <img src="/assets/BioAristoteles.jpg" alt="" />
      <br />
      <br />
      <h2>Inventos</h2>
      A Aristóteles se le atribuye la creación de las ciencias sociales más
      significativas: política, ética y sociología, concebidas bajo los
      principios del bien y del mal y de la relación entre la materia y la
      forma.
      <br />
      <br />
      <li>
        <strong> El empirismo: </strong>La revolución ideológica de Aristóteles
        se enmarca en la teoría del conocimiento, según la cual la
        experimentación es la base de la verdad: «Nada hay en la mente que no
        haya estado antes en los sentidos». El empirismo supone que toda
        filosofía o ciencia.
      </li>
      <br />
      <li>
        <strong>La lógica del silogismo categórico: </strong> Es un
        procedimiento de deducción lógica según el cual si dos premisas con un
        término común que las asocia son sometidas al razonamiento, conllevan a
        una conclusión en la que el término común está ausente.
      </li>
      <br />
      <li>
        <strong>
          La clasificación de los seres vivos y la nomenclatura
          binomial:</strong
        >
        Aristóteles fue el primero en clasificar a los seres vivos según sus
        características similares. En su libro Historia de los animales plasmó
        las distintas clasificaciones jerárquicas en función de su lugar, desde
        la más baja hasta la más alta jerarquía. Ubicó a los seres humanos en
        los estratos más altos.
      </li>
      <br />
      <li>
        <strong
          >El primer tratado científico de la filosofía y la psicologí: </strong
        >Aristóteles inventó en occidente el concepto de alma. Lo definió como
        la primera fuerza o energía que da origen a la vida, al sentir y al
        intelecto. En su libro De anima plasmó la idea de que el alma es la
        abstracción que une el cuerpo humano con la mente. Sobre el principio de
        la relación entre la materia y la forma, para Aristóteles el cuerpo
        humano es la materia y el alma es la forma.
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
