<br />
<mat-card class="card">
  <mat-card-title class="title">Bienvenidos a RECTECFRA</mat-card-title>
  <br />
  <mat-card-content>
    <div class="description">
      En este blog podrás informarte sobre diferentes temas en la actualidad de
      una forma ordenada y precisa. ¡Podrás enterarte de lo que mas te apasiona
      día con día!.
      <br />
      Aquí no volveras a pasar otro día aburrido ya que te mantendras al tanto
      de lo más relevante
      <br />
      <mat-card class="card1">
        <mat-card-header>
          <div mat-card-avatar class="header-image-his"></div>
          <mat-card-title>Historía</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            En esta categoría podrás encontrar a fantásticos inventores que con
            sus creaciones han cambiado al mundo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/historia']">
            Ver mas
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card1">
        <mat-card-header>
          <div mat-card-avatar class="header-image-re"></div>
          <mat-card-title>Relax</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            ¿Haz estado estresado ? Esta sección es para tí, tomate un descanso
            junto con un té meditando con frases de personas que han cambiado el
            mundo
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/relax']">
            Ver mas
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card1">
        <mat-card-header>
          <div mat-card-avatar class="header-image-mat"></div>
          <mat-card-title>Matemática</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Las matemáticas están en todos lados, incluso aquí.Así que pasate a
            echar un ojo para recordar de esas operaciones de la infancia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/matematica']">
            Ver mas
          </a>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card1">
        <mat-card-header>
          <div mat-card-avatar class="header-image-tec"></div>
          <mat-card-title>Tecnología</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            El mundo crece a un ritmo increiblemente rápido, por eso es que la
            tecnología ha evolucionado con el. Debemos de estar lo mas
            informados que podamos de este fantástico mundo
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/tecnologia']">
            Ver mas
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
