<br />
<mat-card class="card">
  <mat-card-title class="title">Isaac Newton </mat-card-title>
  <mat-card-subtitle>1642/12/25 - 1727/03/31</mat-card-subtitle>
  <br />
  <mat-card-content>
    <div class="description">
      Isaac Newton nació el 25 de diciembre de 1642 (según el calendario
      juliano), 4 de enero 1643 (calendario gregoriano), en Woolsthorpe, una
      aldea en el condado de Lincolnshire, Inglaterra. Hijo póstumo; vino al
      mundo prematuramente tres meses después de la muerte de su padre, también
      llamado Isaac Newton, un próspero granjero analfabeto. Su pequeño tamaño y
      delicado estado hacen temer sobre su suerte, aunque finalmente sobrevive.
      Su madre Hannah Ayscough, se volvió a casar cuando Newton tenía tres años,
      yéndose a vivir con su nuevo marido, el reverendo Bernabé Smith, dejando
      al pequeño Isaac al cuidado de su abuela, Margery Ayscough. Su progenitora
      tuvo tres hijos en este segundo matrimonio.
      <br />
      <br />
      Newton comparte con Gottfried Leibniz el crédito por el desarrollo del
      cálculo integral y diferencial, que utilizó para formular sus leyes de la
      física y astronomía. También contribuyó en otras áreas de las matemáticas,
      desarrollando el teorema del binomio y las fórmulas de Newton-Cotes. Entre
      sus hallazgos científicos se encuentran el descubrimiento de que el
      espectro de color que se observa cuando la luz blanca pasa por un prisma
      es inherente a esa luz, en lugar de provenir del prisma (como había sido
      postulado por Roger Bacon en el siglo XIII); su argumentación sobre la
      posibilidad de que la luz estuviera compuesta por partículas; su
      desarrollo de una ley de convección térmica

      <br />
      <img src="/assets/BioIsaac.jpg" alt="" />
      <br />
      <br />
      <h2>Inventos</h2>
      Sir Isaac Newton fue uno de los genios más importantes en la historia de
      las ciencias. Además de ser “el tipo de la manzana y la ley de gravedad”,
      Newton trajo enormes avances en el campo de la física, las matemáticas, la
      filosofía y la teología, siendo también un alquimista y uno de los más
      grandes inventores.
      <br />
      <br />
      <li>
        <strong> El cañón orbital: </strong>En su primera publicación, en 1687,
        Newton elabora su teoría sobre la ley de gravitación universal. Allí
        describe que todas las partículas ejercen una fuerza que la gravedad,
        siendo afectada por la masa y la distancia, universalmente comanda los
        movimientos de todas las cosas, desde la lluvia en la Tierra a la órbita
        de los planetas.
      </li>
      <br />
      <li li type="disc">
        <strong> Las 3 leyes del movimiento:</strong> saac Newton fue
        indudablemente uno de los mayores propulsores de la física. No solo
        estableció la ley de gravitación universal en 1687, sino que también
        investigó hasta alcanzar las raíces mismas del movimiento estableciendo
        sus principios fundamentales, las 3 leyes del movimiento:
        <br />
        <br />
        <ul>
          <li>
            <strong>Inercia:</strong> todo cuerpo preserva en su estado de
            reposo o movimiento rectilíneo uniforme a no ser que sea obligado a
            cambiar su estado por fuerzas impresas sobre él.
          </li>
          <li>
            <strong>Fuerza:</strong> el cambio de movimiento es proporcional a
            la fuerza motriz impresa y ocurre según la línea recta a lo largo de
            la cual aquella fuerza se imprime.
          </li>
          <li>
            <strong> Acción y reacción:</strong> con toda acción ocurre siempre
            una acción igual y contraria: o sea, las acciones mutuas de dos
            cuerpos son siempre iguales y dirigidas por sentido opuesto.
          </li>
        </ul>
      </li>
      <br />
      <li>
        <strong>La receta de la piedra filosofal :</strong> Newton redactó un
        texto (o algo así como una receta química) en la que explicaba cómo
        crear una piedra filosofal, una piedra de fantasías con propiedades de
        transmutación mágica.
      </li>
      <br />
      <li>
        <strong>El arco iris y la refracción de la luz: </strong> En 1704, en su
        obra titulada Óptica, Newton cambió la forma en la que se habla y se
        trabaja sobre la luz, así como del fenómeno de la refracción. Aunque los
        científicos de la época ya sabían cómo se forma un arcoíris (mediante el
        reflejo y la refracción de la la luz en las gotas de lluvia) no sabían a
        qué se debían esos colores tan llamativos.
      </li>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
